.fa {
  text-align: right;
}

.en {
  text-align: left;
}

.navbar-container {
  width: 95%;
  margin: auto;
}

.small-navbar {
  width: 100%;
  margin: auto;
  display: none;
  margin: 0;
}

.small-navbar-button {
  background-color: var(--navbar-blue);
  border-radius: 5px;
  padding: 5px 0px;
  color: white;
  font-size: 0.8em;
  width: 18%;
  border: none;
}

.navbar-logo {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}

.navbar-logo-img {
  width: 10%;
  border-radius: 50%;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar-links {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--white);
}

/* horizontal navbar */
.horizontal-navbar-fa {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--navbar-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontal-navbar-fa a {
  float: right;
  font-size: 1em;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Vertical navbar */
.vertical-navbar {
  width: 90%;
  margin: auto;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--navbar-blue);
}

.vertical-navbar a {
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.horizontal-navbar-fa a:hover {
  text-decoration: underline;
}

.vertical-navbar a:hover {
  text-decoration: underline;
}

/* EN FORMAT */

/* horizontal navbar */
.horizontal-navbar-en {
  width: 95%;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--navbar-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontal-navbar-en a {
  float: left;
  font-size: 1em;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Vertical navbar */
.vertical-navbar-en {
  width: 90%;
  margin: auto;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--navbar-blue);
}

.vertical-navbar-en a {
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: white;
  text-align: right;
  padding: 16px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .horizontal-navbar-fa {
    display: none;
  }

  .horizontal-navbar-en {
    display: none;
  }

  .small-navbar {
    display: flex;
  }
}

@media screen and (max-width: 770px) {
  .navbar-logo {
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .navbar-links {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--white);
  }

  .horizontal-navbar-fa {
    flex-direction: column;
    justify-content: center;
  }

  .horizontal-navbar-en {
    flex-direction: column;
    justify-content: center;
  }
}
