.main-body-top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../static/images/covid.png");
  background-size: cover;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
  width: 100%;
  margin: auto;
}

.main-body-text {
  width: 80%;
  margin: auto;
}

.main-body-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-body-logo-img {
  width: 10%;

}
.main-body-logo-text {
  width: 80%;
  margin: auto;
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-left: 5%;
  margin-right: 5%;
}

.main-body-text-title {
  font-size: 3em;
  color: rgb(30, 188, 228);
  margin-top: 2%;
}
.main-body-text-description {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

.main-body-bottom {
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
    padding-bottom: 5%;
}

.main-body-links {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-body-link {
  width: 45%;
  margin: auto;
  border-radius: 10px;
  margin-top: 2%;
}

.link-img {
  width: 60%;
  margin: auto;
}

.link-image {
  width: 80%;
  border-radius: 10px;
  height: auto;
}

.link-title {
  width: 90%;
  margin: auto;
  font-size: 1.5em;
}

.link-description {
  width: 95%;
  margin: auto;
  font-size: 1.1em;
}

.link-href {
  width: 90%;
  margin: auto;
  font-size: 1.2em;
  text-decoration: none;
  color: rgb(255, 10, 10);
}

@media screen and (max-width: 800px) {
  .main-body-top {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  
  .main-body-image {
    display: none;
  }
  
  .main-body-text {
    width: 95%;
    margin: auto;
    margin-top: 10%;
  }

  .main-body-logo-img {
    width: 15%;
  }
  .main-body-logo-text {
    width: 80%;
    margin: auto;
    font-size: 1em;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .main-body-text-title {
    font-size: 2.5em;
    color: rgb(30, 188, 228);
    margin-top: 2%;
  }
  .main-body-text-description {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
  }
  
  .main-body-bottom {
      background-color: rgb(255, 255, 255);
      padding-top: 5%;
      padding-bottom: 5%;
  }
  
  .main-body-links {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-body-link {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10%;
  }
  
  .link-title {
    width: 90%;
    margin: auto;
    font-size: 1.5em;
  }
  
  .link-description {
    width: 70%;
    margin: auto;
    font-size: 1em;
  }
  
  .link-href {
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(255, 10, 10);
  }
}
