* {
  font-family: Vazir;
}

.title {
  width: 80%;
  margin: auto;
  /* margin-top: 5%; */
  text-align: center;
}

.title-head {
  width: 100%;
  font-size: 2em;
}

.title-description {
  font-size: 15px;
  width: 60%;
  margin: auto;
}

.title-button {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  font-size: 1em;
  padding-top: 3%;
}

.title-button * {
  justify-content: baseline;
  width: 30%;
  border: none;
  background-color: none;
}

.title-team-button,
.title-about-button {
  text-decoration: none;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(202, 26, 26);
}

.title-team-button :hover,
.title-about-button :hover {
  background-color: seagreen;
}

@media screen and (max-width: 800px) {
  .title {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .title-head {
    font-size: 2em;
  }

  .title-description {
    font-size: 15px;
    width: 90%;
    margin: auto;
  }

  .title-button {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
  }

  .title-team-button :hover,
  .title-about-button :hover {
    background-color: seagreen;
  }
}
