
* {
    font-family: Vazir;
  }

.logo {
    width: 50%;
    left: 0;
    float: left;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 30%;
    /* height: 100px; */
}

.logo-title {
    width: 50%;
    font-size: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.logo-title_ {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 800px) {
    .logo {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .logo-img {
        width: 25%;
        height:inherit;
    }
    
}
