.links-body {
  width: 80%;
  margin: auto;
  font-size: 1.2em;
  color: var(--dark-blue);
}

.links-body a {
  width: 95%;
  margin: auto;
  font-size: 1em;
  color: var(--navbar-blue);
  direction: ltr;
}

.links-body a p {
  width: 95%;
  margin: auto;
}

.red-text {
  color: var(--red);
}

.request-link {
  background-color: var(--green);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 2%;
}

@media screen and (max-width: 800px) {
  .links-body {
    width: 90%;
    margin: auto;
    font-size: 1.1em;
  }

  .links-body a {
    font-size: 0.8em;
  }

  .links-body p {
    font-size: 0.8em;
  }
}
