* {
    font-family: Vazir;
  } 

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #87b8d4;
    font-size: 1em;     
}

.footer * {
    margin: auto;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.footer-img {
    width: 30px;
    height: 30px;
    padding-bottom: 2%;
}

.footer-detail {
    text-align: center;
}

@media screen and (max-width: 450px) {
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: #87b8d4;
        font-size: 1em;     
    }
    
    .footer-img {
        width: 30px;
        height: 30px;
    }
    
    .footer-detail {
        width: 100%;
        text-align: center;
    }
    
}