.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(225, 246, 255);
}


.lang-button {
    position: absolute;
    top: 8px;
    right: 5%;
    font-size: 1.25em;
}

.lang-button-en {
    position: absolute;
    top: 8px;
    left: 5%;
    font-size: 1.25em;
}

.lang-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.seprator {
    text-align: center;
    color: black;
    font-size: 2.5em;
    margin-top: 2%;
    border-bottom: 2px black solid;
}

.en {
    text-align: left;
    direction: ltr;
}

@media screen and (max-width: 800px) {    
    .lang-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    
}