.main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  margin-top: 0;
}

.seprator {
  text-align: center;
  color: var(--black);
  font-size: 1.8em;
  margin-top: 2%;
  margin-bottom: 2%;
  border-bottom: 2px var(--black) solid;
}
