* {
    font-family: Vazir;
}

.title {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.title-head {
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 2em;
}

.title-description {
    font-size: 15px;
    width: 60%;
    margin: auto;
}

.record-body {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-color: white;
    border-radius: 15px;
}

.question {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question-options {
    padding-right: 25%;
}

.question-title {
    text-align: center;
}

.hints {
    width: 90%;
    margin: auto;
    font-size: 1em;
    text-align: right;
}

.health-tips {
    color: red;
    list-style-type: none;
}

.accept-button {
    width: 15%;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(25, 143, 1);
    text-align: center;
    padding: 0 10px;
    color: white;
    font-size: 1.5em;
    margin-bottom: 5%;
}

.record {
    width: 80%;
    margin: auto;
}

.recorder {
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.control-button {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
}

.record-voice {
    width: 80%;
    margin: auto;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.record-button {
    background-color: red;
    width: 70px;
    border-radius: 50%;
}

.notife {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    padding-top: 5%;
}

.submit-voice {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.hidden {
    display: none;
}

.button {
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    color: white;
    font-size: 1em;
}

.submit {
    background-color: rgb(47, 241, 8);
}

.cancel {
    background-color: rgb(10, 198, 255);
}

@media screen and (max-width: 800px) {

    .title {
        width: 100%;
        margin: auto;
        margin-top: 5%;
        text-align: center;
        justify-content: center;
    }
    
    .title-head {
        text-align: center;
        width: 100%;
        margin: auto;
        font-size: 2em;
    }
    
    .title-description {
        width: 60%;
        font-size: 1.1em;
        margin: auto;
    }

    .questions {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
    }
    
    .question-options {
        width: 90%;
        margin: auto;
        padding-right: 10%;
    }
    
    .question-title {
        text-align: center;
    }

    .hints {
        width: 90%;
        margin: auto;
    }
    
    .health-tips {
        color: red;
        list-style-type: none;
    }

    .recorder {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 20px;

    }
    
    .control-button {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:stretch;
    }
    
    .record-voice {
        width: 50%;
        margin: auto;
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .notife {
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 1em;
        padding-top: 5%;
    }
    
    .submit-voice {
        width: 50%;
        margin: auto;
    }
    
}

@media screen and (max-width: 410px) {
    .submit-voice {
        width: 90%;
        margin: auto;
    }
}