* {
    font-family: Vazir;
}

.title {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.title-head {
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 2em;
}

.title-description {
    font-size: 15px;
    width: 60%;
    margin: auto;
}

.questions {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.question-options {
    padding-right: 25%;
}

.question-title {
    text-align: center;
}



.record {
    width: 80%;
    margin: auto;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hints {
    width: 45%;
    margin: auto;
    font-size: 1em;
    text-align: right;

}

.health-tips {
    color: red;
    list-style-type: none;
}


.recorder {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35%;
    margin: auto;
}

.control-buttom {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
}

.record-buttom {
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(224, 219, 215);
    text-align: center;
    background-color: rgb(61, 173, 16);
    font-size: 1em;
}

.stop {
    background-color: rgb(252, 18, 10);
}

.submit-buttom {
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(2, 204, 255);
    font-size: 1em;
}

.record-player {
    width: 100%;
    margin: auto;
    border-radius: 15px ;
}

.notife {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    padding-top: 5%;
}

@media screen and (max-width: 800px) {


    .title {
        width: 100%;
        margin: auto;
        margin-top: 5%;
        text-align: center;
        justify-content: center;
    }
    
    .title-head {
        text-align: center;
        width: 100%;
        margin: auto;
        font-size: 2em;
    }
    
    .title-description {
        width: 60%;
        font-size: 1.1em;
        margin: auto;
    }


    .questions {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
    }
    
    .question-options {
        width: 85%;
        margin: auto;
        padding-right: 10%;
    }
    
    .question-title {
        text-align: center;
    }

    .record {
        width: 100%;
        margin: auto;
        display: flex ;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .hints {
        width: 90%;
        margin: auto;
    }
    
    .health-tips {
        color: red;
        list-style-type: none;
    }
    
    
    .recorder {
        width: 80%;
        margin: auto;
    }
    

    .control-buttom {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:stretch;
    }
    
    .record-player {
        width: 100%;
        margin: auto;
        border-radius: 15px ;
    }

    .notife {
        width: 90%;
        margin: auto;
        font-size: 0.9em;
    }
    
}


@media screen and (max-width: 1100px) {

    .record {
        width: 80%;
        margin: auto;
        display: flex ;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .hints {
        width: 90%;
        margin: auto;
    }
    
    .health-tips {
        color: red;
        list-style-type: none;
    }
    
    
    .recorder {
        width: 80%;
        margin: auto;
    }
    

    .control-buttom {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:stretch;
    }
    
    .record-player {
        width: 100%;
        margin: auto;
        border-radius: 15px ;
    }

    .notife {
        width: 90%;
        margin: auto;
        font-size: 0.9em;
    }
    
}

@media screen and (max-width: 550px)  {
    .control-buttom {
        width: 40%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:stretch;
    }
    .control-buttom * {
        margin-bottom: 5%;
    }
}