:root {
  --black: #000000;
  --red: #e40c2b;
  --dark-red: #521d25;
  --green: #438945;
  --light-green: #4bac4e;
  --dark-blue: #1d1d2c;
  --light-blue: #80baf3;
  --light-blue-duble: #ebf5ff;
  --white: #ffffff;
}

* {
  font-family: Vazir;
}

.en {
  text-align: left;
}

.fa {
  text-align: right;
}
