.standards-body {
  width: 95%;
  margin: auto;
}


.standard-slide-container {
  width: 90%;
  margin: auto;
  border: 3px solid var(--dark-blue);
  height: fit-content;
}

.standard-each-slide > div {
  background-size: cover;
  border-radius: 5px;
  height: 1500px;

}

.download-link {
  padding-top: 5%;
  text-align: center;
  font-size: 1.1em;
  color: var(--dark-blue);
}

.download-link a{
  color: var(--white);
  background-color: var(--green);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 2%;
}

@media screen and (max-width: 950px) {
  .standard-slide-container {
    width: 95%;
    margin: auto;
  }
  
  .standard-each-slide > div {
    background-size: cover;
    height: 900px;
  }

}

@media screen and (max-width: 500px) {
  .standard-slide-container {
    width: 95%;
    margin: auto;
  }
  
  .standard-each-slide > div {
    background-size: cover;
    height: 470px;
  }

}