.standards-body {
  width: 80%;
  margin: auto;
  direction: ltr;
}

.download-link {
  padding-top: 5%;
  text-align: center;
  font-size: 1.1em;
  color: var(--dark-blue);
}

.download-link a{
  color: var(--white);
  background-color: rgb(58, 179, 58);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 2%;
}


@media screen and (max-width: 500px) {
  .standards-body {
    width: 90%;
    margin: auto;
    direction: ltr;
  }
}