* {
  font-family: Vazir;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--dark-blue);
  font-size: 1em;
  /* margin-top: 150px; */
}

.footer * {
  margin: auto;
  width: 80%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.footer-img {
  width: 30px;
  height: 30px;
  padding-bottom: 2%;
}

.footer-detail {
  text-align: center;
}

.footer-copyright {
  width: 100%;
  text-align: center;
  background-color: var(--dark-blue);
  font-size: 1em;
  color: var(--white);
  margin-top: 0;
}

.footer-copyright a {
  text-decoration: none;
  color: var(--white);
}

@media screen and (max-width: 800px) {
  .footer {
    font-size: 0.8em;
  }
  .footer-copyright {
    font-size: 0.8em;
  }
}



@media screen and (max-width: 450px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--dark-blue);
    font-size: 0.8em;
  }

  .footer-img {
    width: 30px;
    height: 30px;
  }

  .footer-detail {
    width: 100%;
    text-align: center;
  }
}
